.parheeksha-logo{
  height:65px;
  width:300px;
}

nav{
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  
  display: flex;
  width: 100%;
  background: #fff;
  
 
}
ul{ 
    display:flex;
}
li{
  list-style-type: none;
  margin: 5px 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: #000;
  font-size: large;
}
.student-details-heading{
  text-align: center;
  font-size:x-large;
  font-weight: bold;
}